@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500&family=Montserrat:wght@100;300;400;500;900&display=swap");

/* font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root {
  --main-color: #5368a6;
  --yellow-main: #edf263;
  --hot-pink: #d93b92;
  --light-pink: #f2bdef;
  --baby-blue: #c4d0f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Karla", sans-serif;
}

/* Header */
.navbar {
  padding-bottom: 4.5rem;
  z-index: 10;
}

.navbar-brand {
  font-weight: 900;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 200;
}

#title {
  background-color: var(--main-color);
  height: 100vh;
  position: relative;
}

.header-copy {
  position: relative;
  z-index: 2;
}

.main-heading {
  font: 500 3rem/1.4 Montserrat, sans-serif;
  color: #ffffff;
}

.container-fluid {
  padding: 3% 15%;
}

.btn-outline-warning {
  border: 1px solid var(--yellow-main);
  color: var(--yellow-main);
}

.btn-outline-warning:hover {
  border: 1px solid var(--main-color);
  background-color: var(--yellow-main);
}

.header-btn {
  margin: 40px 0px 40px;
}

.header-btn-icon {
  margin-right: 8px;
}

.btn-visit {
  background-color: var(--yellow-main);
  color: #000b18;
  margin-left: 10px;
}

.btn-visit:hover {
  background-color: var(--main-color);
  color: var(--yellow-main);
  border: 1px solid var(--yellow-main);
}

.img-container-dog {
  position: absolute;
  bottom: 0px;
  right: 220px;
  width: 470px;
  height: 700px;
  z-index: 1;
}

.img-container-dog img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .img-container-dog {
    /* position: absolute; */
    right: 180px;
    width: 414px;
    height: 567px;
  }
}

@media (max-width: 1110px) {
  #title {
    text-align: center;
  }

  .img-container-dog {
    right: 20px;
    width: 252px;
    height: 367px;
    /* display: none; */
  }
}

@media (max-width: 860px) {
  .img-container-dog {
    display: none;
  }

  .header-btn {
    margin: 20px 0;
    /* width: 100px;
    font-size: 16px; */
  }
}

@media (max-width: 630px) {
  /* body {
  padding: 0 50px;
} */

  #title {
    height: 70vh;
  }

  #title .container-fluid {
    padding: 0 30px 0 20px;
  }

  .main-heading {
    font-size: 2.3rem;
  }
}

/* Main */
/* Features section */
#features {
  padding: 30px;
}

.feature-card {
  padding: 10px 40px;
}

.features-icon {
  /* height: 38px;
    width: 38px; */
  color: var(--hot-pink);
  margin-bottom: 16px;
  transition: color 0.4s ease-in-out;
}

.features-icon:hover {
  color: var(--light-pink);
}

.feature-card > h3 {
  font-weight: 500;
}

.feature-card > p {
  font-weight: 300;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: var(--baby-blue);
  color: #000b18;
}

.carousel-item {
  padding: 140px 300px;
}

#testimonials > h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

.testimonial-image_container {
  width: 160px;
  height: 160px;
  margin: 20px auto;
}

.testimonials-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* Press */
#press {
  background-color: var(--baby-blue);
  padding-bottom: 60px;
  padding-top: 10px;
  text-align: center;
}

.press-logo:not(:first-child) {
  margin-left: 100px;
}

.press-logo {
  width: 200px;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .carousel-item {
    padding: 70px 100px;
  }

  .press-logo:not(:first-child) {
    margin-left: 47px;
  }

  .press-logo {
    width: 120px;
  }

  .testimonial-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 670px) {
  .carousel-item {
    padding: 50px 70px;
  }

  /* #press {
    text-align: center;
  } */

  .press-logo {
    width: 70px;
  }

  .testimonial-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .press-logo {
    width: 50px;
  }
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-section-header {
  text-align: center;
}

.pricing-section-header > h2 {
  font-size: 2.3rem;
}

.pricing-section-header > p {
  font-size: 1.13rem;
}

.pricing-column {
  padding: 60px 20px;
}

#pricing .card {
  text-align: center;
}

#pricing .card .card-header {
  background-color: #bfc6d6;
}

.btn-primary {
  background-color: var(--baby-blue);
  color: #000b18;
}

.btn-primary:hover {
  background-color: var(--main-color);
  color: #ffffff;
}

.btn-outline-primary {
  border: #5368a6 0.9px solid;
  color: var(--main-color);
}

.btn-outline-primary:hover {
  border: 0.9px solid;
  background-color: var(--main-color);
  color: #ffffff;
}

/* Pricing media queries */
@media (max-width: 860px) {
  #pricing {
    padding: 26px 10px;
  }
}

/* Call to Action */
#cta {
  text-align: center;
  background-color: var(--hot-pink);
  padding: 120px 200px;
  color: #ffffff;
}

#cta h3 {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

.btn-outline-secondary {
  border: 1px solid var(--yellow-main);
  color: var(--yellow-main);
}

.btn-outline-secondary:hover {
  border: 1px solid var(--hot-pink);
  background-color: var(--yellow-main);
  color: #000b18;
}

.btn-visit-secondary {
  background-color: var(--yellow-main);
  color: #000b18;
  margin-left: 10px;
}

.btn-visit-secondary:hover {
  background-color: var(--hot-pink);
  color: var(--yellow-main);
  border: 1px solid var(--yellow-main);
}

@media (max-width: 990px) {
  #cta {
    padding: 80px 120px;
  }
}

@media (max-width: 820px) {
  #cta {
    padding: 30px 10px;
  }

  #cta .container-fluid {
    padding: 0;
  }

  #cta h3 {
    font-size: 2.1rem;
  }

  #cta button {
    display: inline-block;
  }
}

/* Footer */
#footer {
  background-color: var(--light-pink);
  height: 20vh;
  color: #000b18;
  text-align: center;
}

.social-icons {
  padding-top: 15px;
}

.social-icon {
  height: 22px;
  width: 22px;
  color: var(--main-color);
  padding: 10px;
}

.social-icon:hover {
  scale: 1.06;
  color: var(--hot-pink);
}

#footer p {
  font-size: 1rem;
  padding: 20px;
}
